@model IEnumerable<Location>

@{
    ViewBag.Title = "Location List";
}


<div class="card-deck">
    @foreach (var location in Model)
    {
        var imagePath = "~/images/locationImages/" + location.FeatureImage;

        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <br />
            <div class="card-header">
                <h3>@location.Name</h3>
            </div>

            <img class="card-img-top imageThumbnail" src="@imagePath"
                 asp-append-version="true" />

            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@location.Id"
                   class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>